<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <title>{{ filename }}</title> -->
</head>
<body class="bg-gray-800">
    <div class="flex justify-center">
        <div class="m-5 p-5 pt-3 border-4 w-full rounded-lg bg-gray-400">
            <h1 class="text-2xl font-bold mb-4">{{ title }}</h1>
            <p>{{ content }}</p>
        </div>
    </div>
</body>
</html>
